<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Enter Details</title>
  </head>
 
  <body><center>
        <h2><font color="Blue">Enter User Details</font></h2>
        <form action="/Regestration", method="post">
        <table>
        <td><tr>
        <div class="form group"><label>User Name</label></div></tr>
        <tr><input name="UserName" id="UserName" class="form-control" placeholder="User Name cannot be empty" required autofocus></tr></td>
        <br><br>
        <td><tr>
        <div class="form group"><label><b>First Name</label></div></tr>
        <tr><input name="FName" id="FName" class="form-control" placeholder="First Name cannot be empty" required autofocus></tr></td>
        <br><br>
        <td><tr>
        <div class="form group"><label><b>Last Name</b></label></div></tr>
        <tr><input name="LName" id="LName" class="form-control" placeholder="Last Name cannot be empty" required autofocus></tr></td>
       <br><br>
       <td><tr>
        <div class="form group"><label><b>Email ID</b></label></div></tr>
        <tr><input type="email" name="Email" id="Email" class="form-control" placeholder="Enter an Email" required autofocus></tr></td>
       <br><br>
       <td><tr>
       <div class="form group"><label><b>Password</b></label></div></tr>
        <tr><input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password cannot be empty" required autofocus></tr></td>
        <br><br>
        <button type= "submit"><font color="Green">Submit</font></button></table>
       </form></center>
  </body>
</html>